# Exercise 2.02: Using Quandl to Load Stock Prices

The goal of this exercise is to download data from the Quandl package and load it into a DataFrame like we previously did with Yahoo Finance.

The following steps will help you to complete the exercise:

1.- Use pip to install Quandl

In [1]:
!pip install quandl

Collecting quandl
  Downloading Quandl-3.6.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: six in c:\users\aap27\appdata\local\programs\python\python39\lib\site-packages (from quandl) (1.15.0)
Requirement already satisfied: numpy>=1.8 in c:\users\aap27\appdata\local\programs\python\python39\lib\site-packages (from quandl) (1.19.5)
Requirement already satisfied: requests>=2.7.0 in c:\users\aap27\appdata\local\programs\python\python39\lib\site-packages (from quandl) (2.25.1)
Collecting more-itertools
  Downloading more_itertools-8.7.0-py3-none-any.whl (48 kB)
Requirement already satisfied: pandas>=0.14 in c:\users\aap27\appdata\local\programs\python\python39\lib\site-packages (from quandl) (1.2.0)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: python-dateutil in c:\users\aap27\appdata\local\programs\python\python39\lib\site-packages (from quandl) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\aap27\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\aap27\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.7.0->quandl) (1.26.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aap27\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\aap27\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.7.0->quandl) (4.0.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\aap27\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.14->quandl) (2020.5)
Installing collected packages: more-itertools, inflection, quandl
Successfully installed inflection-0.5.1 more-itertools-8.7.0 quandl-3.6.0

WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\aap27\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

2.- Download the data into a DataFrame using Quandl for the S&P 500. Its ticker is `“YALE/SPCOMP”`

In [2]:
import quandl
data_frame = quandl.get("YALE/SPCOMP")

3.- Use the DataFrame `head()` method to inspect the first five rows of data in your DataFrame

Output:

![Figure 2.17](img/fig2_17.jpg)

In [3]:
data_frame.head()

,S&P Composite,Dividend,Earnings,CPI,Long Interest Rate,Real Price,Real Dividend,Real Earnings,Cyclically Adjusted PE Ratio
Year,,,,,,,,,
1871-01-31,4.44,0.26,0.4,12.464061,5.320000,92.852594,5.437314,8.365099,NaN
1871-02-28,4.50,0.26,0.4,12.844641,5.323333,91.319006,5.276209,8.117245,NaN
1871-03-31,4.61,0.26,0.4,13.034972,5.326667,92.185256,5.199168,7.998721,NaN
1871-04-30,4.74,0.26,0.4,12.559226,5.330000,98.375305,5.396114,8.301714,NaN
1871-05-31,4.86,0.26,0.4,12.273812,5.333333,103.211350,5.521595,8.494761,NaN

By completing this exercise, we have learned how to download an external dataset in CSV format and import it as a DataFrame. We also learned about the `.head()` method, which provides a quick view of the first five rows of your DataFrame.